$app-search-bg: white;
$app-search-color: #4a4a4a;
$app-theme-color: #4a4a4a;


$primary-text-color: rgba(0,0,0,0.87);
$secondary-text-color: rgba(0,0,0,0.54);

$text-color: #2f2f2f;

$white-bg-color: #fff;
$blue-color: #2196F3;
