/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'themes';
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import '~material-design-icons/iconfont/material-icons.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.81); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }

.material-icons.red600 { color: #fb2f42; }

.mat-header-cell{
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
}

.mat-card{
  border-radius: 0 !important;
}

.mat-gray{
  // color: rgba(255,255,255,0.87);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eaeaea;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
