   <header class="header clearfix">
     <nav>
       <ul class="nav nav-pills float-right">
         <li class="nav-item">
           <a class="nav-link active" routerLink="/blog">Home <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item" *ngIf="!loginUser">
           <a class="nav-link" routerLink="/user/login">Login</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="/blog/create">Add Blog</a>
         </li>
         <li class="nav-item" *ngIf="loginUser">
           <a class="nav-link" routerLink="" (click)="logout($event)">Logout</a>
         </li>
       </ul>
     </nav>
   </header>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
